<h4>Link Show Page for <%= link_to @site.url, @site.url %></h4>

<h6>Response Code:
<% if @site.http_response >= 400 %>
	<span style="color:red">
<% else %>
	<span style="color:green">
<% end %>
<%= @site.http_response %>
</span></h6>
